/***** VERSION DESKTOP *****/

/* Font */

body
{
    font-family: 'Oswald', sans-serif;
}

/* Titre accueil */

h1 {
    display: flex;
    justify-content: center;
    color: rgb(18, 161, 126);
}

/* Annonce accueil */

figure {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgb(100, 114, 105);
    border-radius: 20px;
}

figure img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

figure a {
    text-decoration: none;
    color: black;
}

figure a:hover {
    font-size: 17px;
    transition-duration: 0.6s;
}



/* Page logement */

.logementdetails {
    width: 50%;
    padding: 5px 0px 25px 0px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(100, 114, 105);
    border-radius: 20px;
}

.logementdetails h2, .logementdetails p, .logementdetails a {
    display: flex;
    justify-content: center;
}

.logementdetails a {
    text-decoration: none;
    color: black;
}

.logementdetails a:hover {
    font-size: 17px;
    transition-duration: 0.6s;
}

.logementimg {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}


/***** VERSION MOBILE *****/

@media screen and (max-width: 620px) {

/* Annonce accueil*/

figure {
    width: 75%;
    padding: 15px;
}

/* Page logement */

h2 {
    font-size: 20px;
}

.logementimg {
    width: 100%;
}

.logementdetails a {
    color: black;
    font-size: 15px;
}
}
